LLaMA-Factory/output
.env
__pycache__
.log
delete_me.md

# Ignore uncompressed dataset files
LLaMA-Factory/data/resist_10.json
LLaMA-Factory/data/resist_20.json
LLaMA-Factory/data/resist_30.json
LLaMA-Factory/data/resist_40.json
LLaMA-Factory/data/resist_50.json
LLaMA-Factory/data/resist_10_kto.json
LLaMA-Factory/data/resist_20_kto.json
LLaMA-Factory/data/resist_30_kto.json
LLaMA-Factory/data/resist_40_kto.json
LLaMA-Factory/data/resist_50_kto.json
LLaMA-Factory/data/holistic_10.json
LLaMA-Factory/data/holistic_20.json
LLaMA-Factory/data/holistic_30.json
LLaMA-Factory/data/holistic_40.json
LLaMA-Factory/data/holistic_50.json
LLaMA-Factory/data/holistic_10_kto.json
LLaMA-Factory/data/holistic_20_kto.json
LLaMA-Factory/data/holistic_30_kto.json
LLaMA-Factory/data/holistic_40_kto.json
LLaMA-Factory/data/holistic_50_kto.json
LLaMA-Factory/data/baseline_10.json
LLaMA-Factory/data/baseline_20.json
LLaMA-Factory/data/baseline_30.json
LLaMA-Factory/data/baseline_40.json
LLaMA-Factory/data/baseline_50.json
LLaMA-Factory/data/baseline_10_kto.json
LLaMA-Factory/data/baseline_20_kto.json
LLaMA-Factory/data/baseline_30_kto.json
LLaMA-Factory/data/baseline_40_kto.json
LLaMA-Factory/data/baseline_50_kto.json